In [63]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sns
from scipy.stats import linregress
import statsmodels.api as sm

In [64]:

#Data
uslabor_data_path = "data/UnemploymentUS_State.csv"

# Read data
df = pd.read_csv(uslabor_data_path, index_col=False)

# View the first 5 rows
df.head()

,FIPS Code,State/Area,Year,Month,Total Civilian Non-Institutional Population in State/Area,Total Civilian Labor Force in State/Area,Percent (%) of State/Area's Population,Total Employment in State/Area,Percent (%) of Labor Force Employed in State/Area,Total Unemployment in State/Area,Percent (%) of Labor Force Unemployed in State/Area
0,1,Alabama,1976,1,"2,605,000","1,484,555",57.0,"1,386,023",53.2,"98,532",6.6
1,2,Alaska,1976,1,"232,000","160,183",69.0,"148,820",64.1,"11,363",7.1
2,4,Arizona,1976,1,"1,621,000","964,120",59.5,"865,871",53.4,"98,249",10.2
3,5,Arkansas,1976,1,"1,536,000","889,044",57.9,"824,395",53.7,"64,649",7.3
4,6,California,1976,1,"15,621,000","9,774,280",62.6,"8,875,685",56.8,"898,595",9.2

In [65]:
print(df.columns)

Index(['FIPS Code', 'State/Area', 'Year', 'Month',
       'Total Civilian Non-Institutional Population in State/Area',
       'Total Civilian Labor Force in State/Area',
       'Percent (%) of State/Area's Population',
       'Total Employment in State/Area',
       'Percent (%) of Labor Force Employed in State/Area',
       'Total Unemployment in State/Area',
       'Percent (%) of Labor Force Unemployed in State/Area'],
      dtype='object')

In [66]:
df.shape

(29892, 11)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29892 entries, 0 to 29891
Data columns (total 11 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   FIPS Code                                                  29892 non-null  int64
 1   State/Area                                                 29892 non-null  object
 2   Year                                                       29892 non-null  int64
 3   Month                                                      29892 non-null  int64
 4   Total Civilian Non-Institutional Population in State/Area  29892 non-null  object
 5   Total Civilian Labor Force in State/Area                   29892 non-null  object
 6   Percent (%) of State/Area's Population                     29892 non-null  float64
 7   Total Employment in State/Area                             29892 non-null  object
 8   Percent (%) of Labor Force Employed in State/Area          29892 non-null  float64
 9   Total Unemployment in State/Area                           29892 non-null  object
 10  Percent (%) of Labor Force Unemployed in State/Area        29892 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 2.5+ MB

In [68]:
df.drop(['FIPS Code'], axis='columns', inplace=True)
df.head()

,State/Area,Year,Month,Total Civilian Non-Institutional Population in State/Area,Total Civilian Labor Force in State/Area,Percent (%) of State/Area's Population,Total Employment in State/Area,Percent (%) of Labor Force Employed in State/Area,Total Unemployment in State/Area,Percent (%) of Labor Force Unemployed in State/Area
0,Alabama,1976,1,"2,605,000","1,484,555",57.0,"1,386,023",53.2,"98,532",6.6
1,Alaska,1976,1,"232,000","160,183",69.0,"148,820",64.1,"11,363",7.1
2,Arizona,1976,1,"1,621,000","964,120",59.5,"865,871",53.4,"98,249",10.2
3,Arkansas,1976,1,"1,536,000","889,044",57.9,"824,395",53.7,"64,649",7.3
4,California,1976,1,"15,621,000","9,774,280",62.6,"8,875,685",56.8,"898,595",9.2

In [69]:
df.Year.max()

2022

In [70]:
df.Year.min()

1976

In [71]:
short_df = df.loc[df['Year'].isin([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013])]
short_df.head()

,State/Area,Year,Month,Total Civilian Non-Institutional Population in State/Area,Total Civilian Labor Force in State/Area,Percent (%) of State/Area's Population,Total Employment in State/Area,Percent (%) of Labor Force Employed in State/Area,Total Unemployment in State/Area,Percent (%) of Labor Force Unemployed in State/Area
23532,Alabama,2013,1,"3,757,648","2,181,651",58.1,"2,015,043",53.6,"166,608",7.6
23533,Alaska,2013,1,"537,343","364,023",67.7,"338,344",63.0,"25,679",7.1
23534,Arizona,2013,1,"5,050,211","3,058,620",60.6,"2,811,785",55.7,"246,835",8.1
23535,Arkansas,2013,1,"2,272,945","1,338,053",58.9,"1,241,811",54.6,"96,242",7.2
23536,California,2013,1,"29,482,749","18,564,212",63.0,"16,769,858",56.9,"1,794,354",9.7

In [72]:
short_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6360 entries, 23532 to 29891
Data columns (total 10 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   State/Area                                                 6360 non-null   object
 1   Year                                                       6360 non-null   int64
 2   Month                                                      6360 non-null   int64
 3   Total Civilian Non-Institutional Population in State/Area  6360 non-null   object
 4   Total Civilian Labor Force in State/Area                   6360 non-null   object
 5   Percent (%) of State/Area's Population                     6360 non-null   float64
 6   Total Employment in State/Area                             6360 non-null   object
 7   Percent (%) of Labor Force Employed in State/Area          6360 non-null   float64
 8   Total Unemployment in State/Area                           6360 non-null   object
 9   Percent (%) of Labor Force Unemployed in State/Area        6360 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 546.6+ KB

In [62]:
short_df.to_csv('USData.csv', index=False)